h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    @media screen and (min-width: 320px) {
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
    }
}

body {
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-text);
    background: var(--color-white);
    overflow-x: hidden;
    @media screen and (min-width: 320px) {
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
    }
}

a:hover,
a {
    text-decoration: none;
}