:root {
    --color-dark: #2F303A;
    --color-white: #FFF;
    --color-work: #E5E5E5;
    --color-grey: #F5F4FA;
    --color-darck-grey: #AFB1B8;
    --color-text: #212121;
    --color-blue: #2196F3;
    --color-dark-blue: #188CE8;
    --color-brown: #757575;
    --color-border: #EEEEEE;
    --project-item-gep: 30px;
}