.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    &.is-hidden .modal {
        transform: translate(-50%, -50%) scale(0.8);
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: $--color-white;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    @media screen and (max-width: 360px) {
        width: 340px;
    }
    @media screen and (min-width: 361px) and (max-width: 479px) {
        width: 100%
    }
    @media screen and (min-width: 480px) and (max-width: 1199px) {
        min-width: 450px;
        min-height: 609px;
    }
    @media screen and (min-width: 1200px) {
        min-width: 528px;
        min-height: 581px;
    }
    &__close-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        right: 8px;
        top: 8px;
        cursor: pointer;
        padding: 0;
        @media screen and (max-width: 360px) {
            top: 38px;
            width: 25px;
            height: 25px;
        }
        &:hover,
        &:focus {
            fill: $--color-blue;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    //@media screen and (max-width: 360px) {
    //    min-width: 300px;
    //}
    &::after,
    &::before {
        box-sizing: border-box;
    }
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $--color-text;
        margin-bottom: 12px;
        @media screen and (max-width: 360px) {
            min-width: 300px;
        }
        @media screen and (min-width: 361px) and (max-width: 1199px) {
            width: 370px;
        }
    }
    &__label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $--color-brown;
        margin-bottom: 10px;
    }
    &__label-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $--color-brown;
    }
    &__textarea {
        &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
        height: 120px;
        resize: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        margin-top: 4px;
        padding-left: 16px;
        padding-top: 12px;
        @media screen and (max-width: 360px) {
            min-width: 290px;
        }
        @media screen and (min-width: 361px) and (max-width: 1199px) {
            width: 370px;
        }
        @media screen and (min-width: 1200px) {
            width: 448px;
        }
    }
    &__label-terms {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $--color-brown;
        @media screen and (max-width: 1199px) {
            font-size: 12px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
    }
    &__input {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 12px;
        padding-left: 46px;
        margin-top: 4px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            border-color: $--color-blue;
        }
        @media screen and (min-width: 361px) and (max-width: 1199px) {
            min-width: 370px;
        }
        @media screen and (min-width: 1200px) {
            width: 448px;
            height: 40px;
        }
        @media screen and (max-width: 360px) {
            min-width: 290px;
        }
    }
    &__input-label {
        position: absolute;
        left: 15px;
        bottom: 20%;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__input:hover+&__input-label,
    &__input:focus+&__input-label {
        fill: $--color-blue;
    }
    &__input-terms {
        appearance: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $--color-brown;
        margin-right: 8px;
    }
    &__input-terms:checked+&__checkbox-icon {
        background-color: $--color-dark-blue;
        border: none;
        width: 16px;
        height: 16px;
    }
    &__checkbox-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border: 2px solid $--color-text;
        border-radius: 3px;
        margin-right: 7px;
    }
    &__terms-text {
        @media screen and (max-width: 360px) {
            min-width: 80px;
        }
        @media screen and (min-width: 361px) and (max-width: 1199px) {
            min-width: 232px;
        }
    }
    &__terms-link {
        color: $--color-blue;
        padding-left: 5px;
        @media screen and (max-width: 1199px) {
            min-width: 115px;
        }
    }
    &__modal-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 200px;
        height: 50px;
        background: $--color-blue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: $--color-white;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: $--color-dark-blue;
        }
    }
}