.hero {
    background: $background-hero;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 200px;
    width: 100%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width:767px) {
        width: 100%;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mobile.jpg);
        @media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
         background-image: inear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hmobile/ero-mobile@2x-480.jpg);
         width: 100%;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-tablet.jpg);
        @media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
          background-image: inear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-tablet@2x.jpg);
        }
      }
      @media screen and (min-width: 1200px) {
        padding-top: 200px;
        height: 600px;
        max-width: 1600px;
        text-align: center;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
        @media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2x.jpg);
        }
      }
    
}
.hero__title {
    color: $--color-white;    
    font-weight: 900;    
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    text-align: center;   
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 320px) and (max-width: 479px) {
        display: block;
        width: 290px;
    }
    @media screen and (max-width: 1199px) {        
        font-size: 26px;
        line-height: 1.61;
        width: 360px;      
    }
    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}
.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__button {
    width: 200px;
    height: 50px;
    background: $--color-blue;
    color: $--color-white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    font-family: 'Roboto';
    font-style: normal;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        background: $--color-dark-blue;
    }
}