.adaptive-picture {

    display: block;
    width: 100%;
    height: auto;
}

.adaptive-picture-project {

    display: flex;
    flex-direction: column;
   width: 100%;
   height: 100%;
    //display: block;
    //    width: 100%;
    //    height: auto;
}