.social{

    &__list {
            display: flex;
            justify-content: center;
    
            list-style: none;
            /*margin: 0px 24px 30px;*/
           /* margin-bottom: 30px;*/
        }
    &__item {
    
        
        @media screen and (min-width: 768px) {
                width: 44px;
                height: 44px;
            }
        &:not(:last-child) {
        
                margin-right: 20px;
                @media screen and (min-width: 768px) {
                    margin-right: 10px;
                }
            }

    }
    &__icon {
        display: inline-block;
    
        width: 22px;
        height: 22px;
    
        fill: currentColor;
    }

}

.button-social {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    
    color: $--color-dark-grey;
    background-color: $--color-white;
    
    border: none;
    @media screen and (min-width: 320px) {
            border-radius: 50%;
            width: 44px;
            height: 44px;
        }
}

.button-social:hover .social__icon {

    fill: $--color-white;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-social:hover {

    
    color: $--color-blue;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $--color-blue;
        
}

.footer__icons .button-social {

    background-color: $--color-footer-icon;
    fill: $--color-dark-blue;
}

.footer__icons .button-social:hover {

    background-color: $--color-blue;
    
}