.button {
    
    padding: 10px 32px;
    background: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /*30px;
    /* identical to box height, or 188% */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-white);
    border: none;
}

.button-portfolio {
    
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text);
    /* shadow-middle */

    border-radius: 4px;
    border: none;
    margin-right: 8px;
    background: var(--color-grey);
}

.button-portfolio:focus,
.button:focus {
    border-radius: 0px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portfolio:hover {
    background-color: var(--color-blue);
    color: var(--color-white);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-client {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: var(--color-darck-grey);
    background-color: var(--color-white);


}


.footer-submit__button-subscribe {

    text-align: left;
    width: 200px;
    height: 50px;
    padding-left: 29px;

    background: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */
    letter-spacing: 0.06em;

    color: var(--color-white);
}

.button-send {


    width: 200px;
    height: 50px;


    background: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 188% */

    letter-spacing: 0.06em;

    color: var(--color-white);
    display: block;
    margin: 0 auto;

    border: none;
    /*position: absolute;
    
    left: 50%;
    transform: translateX(-50%);*/
}

.button-send:focus {

    fill: var(--color-dark-blue);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit__button-icon {
    display: inline;
    position: absolute;
    left: 148px;
    top: 50%;
    transform: translateY(-50%);
}

.footer-submit__block-subscribe {
    display: inline;
    position: relative;

}

.footer-submit__input-subscribe {

    box-sizing: border-box;


    width: 358px;
    height: 50px;

    background: var(--color-dark);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    padding: 15px 16px;

    color: rgba(255, 255, 255, 0.6);
}

.button-send:focus {


    background-color: var(--color-dark-blue);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}