.contact {
    text-decoration: none;
    color: var(--color-brown);
    display: flex;
    justify-items: center;
    align-items: center;

    &:hover
         {
            color: var(--color-blue);
            text-decoration: none;
            text-decoration-line: none;
            text-decoration-color: var(--color-blue);
    
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }

        &__icon-telephone {
            margin-right: 10px;
            background-size: cover;
            fill: var(--color-white);
            @media screen and (min-width: 768px) {
                fill: currentColor;
            }
            
           
        }
    
        &__icon-mail {
    
            margin-right: 10px;
            background-size: cover;
            align-content: center;
            fill: var(--color-white);
            @media screen and (min-width: 481px) {
                fill: currentColor;
            }
            
          
        }
}


.current-page:hover,
.page:hover {
    color: var(--color-blue);
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: var(--color-blue);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

