.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /*31px*/
    ;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--color-dark);

        &:hover {
            text-decoration-line: none;
            text-decoration-color: var(--color-blue);

        }   

        &--bluewords {
            color: var(--color-blue);
            text-decoration-color: none;
        }    
        &--blackwords {
            color: var(--color-dark);
            text-decoration-color: none;

        }

        &--whitewords {
            color: var(--color-white);
            text-decoration-color: none;
        }
}

.picture {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
}