

.main__menu-nav {
    padding-left: 0px;
    justify-content: space-between;
    justify-items: center;
    list-style: none;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
    
    @media screen and (min-width: 481px) and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        //margin-left: calc(-1*var(--project-item-gep));
        //margin-top: calc(-1*var(--project-item-gep));
    }
}

.menu-clients__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
        align-items: flex-start;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {}
}