.topline__item {
    position: relative;
    display: inline;
    list-style-type: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.topline__item:not(:last-child) {
    margin-right: 50px;
}

.main__menu-nav {
    padding-left: 0px;
    
    justify-content: space-between;
    justify-items: center;
    list-style: none;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
    
    @media screen and (min-width: 480px) and (max-width: 768px) {
        display: flex;
        justify-content: center;
    }

}

.menu-clients__menu {

    display: flex;
    flex-wrap: wrap;
    list-style: none;

}