.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /*31px*/
    ;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--color-dark);
    &:hover {
        text-decoration-line: none;
        text-decoration-color: var(--color-blue);
    }
    &--bluewords {
        color: var(--color-blue);
        text-decoration-color: none;
    }
    &--blackwords {
        color: var(--color-dark);
        text-decoration-color: none;
    }
    &--whitewords {
        color: var(--color-white);
        text-decoration-color: none;
    }
}

.picture {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    @media screen and (min-width: 768px) {
        width: 270px;
        height: 260px;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
        width: 354px;
        height: 374x;
    }
}

.picture-work {
    display: block;
    //width: 370px;
    //height: 294px;
    width: 100%;
    height: 100%;
}

.picture-work1 {
    @extend .picture-work;
    background-image: url('../images/img1.jpg');
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/img1@2x.jpg');
    }
}

.picture-work2 {
    @extend .picture-work;
    background-image: url('../images/img2.jpg');
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/img2@2x.jpg');
    }
}

.picture-work3 {
    @extend .picture-work;
    background-image: url('../images/img3.jpg');
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/img3@2x.jpg');
    }
}

.picture-worker {
    display: block;
    width: 100%;
    //height: 100%;
    //height: 460px;
    @media screen and (min-width: 768px) {
        width: 270px;
        height: 260px;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
        width: 354px;
        height: 374x;
    }
}

.picture-worker1 {
    @extend .picture-worker;
    background-image: url('../images/photo1.jpg');
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/photo1@2x.jpg');
    }
}

.picture-worker2 {
    @extend .picture-worker;
    background-image: url('../images/photo2.jpg');
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/photo2@2x.jpg');
    }
}

.picture-worker3 {
    @extend .picture-worker;
    background-image: url('../images/photo3.jpg');
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/photo3@2x.jpg');
    }
}

.picture-worker4 {
    @extend .picture-worker;
    background-image: url('../images/photo4.jpg');
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/photo4@2x.jpg');
    }
}

.picture-project {
    //max-width: 480px;
    height: 294px;
    display: block;
    position: relative;
    @media screen and (min-width: 768px) {
        // max-width: 370px;
        height: 294px;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
        //max-width: 354px;
        height: 294px;
    }
    @each $project in technockrack,
    goldenstar,
    seafood,
    prime,
    boxes,
    inspiratiion,
    limitededition,
    lab,
    growingbussiness {
        .#{$project} {
            background-image: url('./images/#{$project}.jpg');
            @media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                background-image: url('./images/#{$project}@2x.jpg');
            }
        }
    }
}