.portfolio {
    background: var(--color-white);

        &__filters-list {
            padding-bottom: 50px;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            @media screen and (min-width: 480px) {
                
                justify-content: center;
            }    
        }
    
        &__project-menu {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-left: calc(-1*var(--project-item-gep));
            margin-top: calc(-1*var(--project-item-gep));
        }
    
        &__project-menu>&__project-item {
            
            
            @media screen and (min-width: 768px) {
                flex-basis: calc(100% / 3 - var(--project-item-gep));
                margin-left: var(--project-item-gep);
                margin-top: var(--project-item-gep);
            }
            
             @media screen and (min-width: 480px) and (max-width: 768px) {
                    flex-basis: calc(100% / 2 - var(--project-item-gep));
                    margin-left: 15px;
                    margin-top: var(--project-item-gep);
             }
        }
    
        &__project-item {
            letter-spacing: 0.06em;
            color: var(--color-text);
            background: var(--color-white);
        }
    
        &__project-tittle-name {
            margin-bottom: 4px;
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            /* identical to box height, or 200% */
            letter-spacing: 0.06em;
            color: var(--color-text);
        }
    
        &__project-tittle-type {
            line-height: 1.88;
            font-size: 16px;
            color: var(--color-brown);
        }
    
        &__project-element {
            position: relative;
            padding: 20px 24px;
            border: 1px solid var(--color-border);
            border-left: 1px solid rgba(238, 238, 238, 1);
            border-right: 1px solid rgba(238, 238, 238, 1);
            border-bottom: 1px solid rgba(238, 238, 238, 1);
        }
    
        &__refer-project {
    
            display: block;
            position: relative;
    
        }

        &__refer-project:hover .overlay-project {
            transform: translateY(0);
            background: rgba(33, 150, 243, 0.9);
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        }

        &__refer-project:hover {

            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &__picture-block {

            position: relative;
            overflow: hidden;
        }

       
}



.overlay-project {
    position: absolute;
    bottom: 0;;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms ease;


    font-size: 18px;
    line-height: 1.14;
    /* or 156% */

    letter-spacing: 0.03em;

    color: var(--color-white);
    text-align: justify;

}



