.tittle--hidden {
    display: none;
}

.tittle--big {
    margin: 0 auto 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    /* or 162% */
    text-align: center;
    align-content: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    overflow-wrap: break-word;
    @media screen and (min-width: 768px) {
        max-width: 696px;
        font-size: 44px;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
        font-size: 44px;
        line-height: 1.36;
        /* or 136% */
    }
}

.tittle--small {
    /*padding-bottom: 50px;*/
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}